@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}
<div class="container-fluid">
    <div class="form-login" style="width:600px">
        <h2>Welcome Customer</h2>
        </div>
    </div>
