@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/OwnerLayout.cshtml";
}

<div class="container-fluid">
    <div class="form-login" style="width:600px">
        <h2>HomePage</h2>
    </div>
    </div>
