<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<div class="container-fluid col-md-3 col-md-offset-3">
    <h2>Your Pg is Successfully Added </h2>

</div>