@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    <meta name="viewport" content="width=device-width" />
    <title>PGAddedView</title>
    
    </script>
</head>
<body>
    <div id="dialog-edit" style="background-color:aliceblue;">

    </div>
</body>
</html>


  