@{
    ViewBag.Title = "roomNotAdded";
    Layout = "~/Views/Shared/OwnerLayout.cshtml";
}

<h2>Your Room Was Not Added</h2>
<div>
    <br />
    <br />
    @Html.ActionLink("Try Again","HomePage","Owner")
</div>
