@{
    ViewBag.Title = "roomAdded";
    Layout = "~/Views/Shared/OwnerLayout.cshtml";
}

<h2>Rooms Added</h2>
<div align="center">
    <h3>View @Html.ActionLink("Home","HomePage","Owner")</h3>
   </div>





