@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/Content/css_login.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid form-login"  align="center">
        <br />
        <br />
        <br />
        <br />
        <br />
        <h2>User Created Please Login @Html.ActionLink("Here","Login","Home") </h2>
    </div>
</body>
</html>
